*{
    box-sizing:border-box;
}

body{
    background-color:#f4f4f4;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
    margin:0;
    padding:20px;
}

h1{
    color:rgb(86, 145, 255);
}

p{
    text-align:center;
    font-size:15px;
}

.btn{
    color:#fff;
    background-color:rgb(86, 145, 255);
    cursor:pointer;
    border-radius:5px;
    font-size:12px;
    padding:5px 12px;
}

.money-img{
    width:550px;
}

.currency{
    padding:40px 0;
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.currency select{
    padding:10px 20px 10px 10px;
    border:1px solid rgb(206, 198, 198);
    font-size:16px;
    background:transparent;
}

.currency input{
    border:0;
    background:transparent;
    font-size:30px;
    text-align:center;
}

.swap-rate-container{
    display:flex;
    align-items:center;
    justify-content: space-between;
}

.rate{
    color:rgb(86, 145, 255);
    font-size:15px;
    padding:0 10px;
}